*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
   

}
#website{
    
    overflow: hidden;
}

/*------NAV-BAR-----*/
#homepage{
    height: 100vh;
    width: 100vw;
    
}
#home-image {
    filter: blur(2px);
    position: absolute;
    background-image: url(./assets/pinkback2.jpg) ;
    opacity: 0.7;
    z-index: -1;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
} 
#nav-bar{
    position: relative;
    display: flex;
    background-image: linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0,0.01));
 
  
}
#logo{
    margin: 0px 34px 0px 34px;
}
#logo img{
    height:100px;
    margin: 10px 0px 0px 3px;
} 
 #nav-bar ul{
    display: flex;
    margin: 20px 40px 0px 40px;
}
#nav-bar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#nav-bar ul li a{
    color:  rgb(207,19,115);
    background-color: rgb(255, 255, 255,0.5);
    text-decoration: none;
    margin: 15px;
    padding: 7px;
    border-radius: 20px 0px 20px 0px;
    display: block;
} 
#nav-bar ul li a:hover{
    color: white;
    background-color: rgb(207,19,115, 0.5);
}
#home{
    display: flex;
    flex-direction: column;
    padding:3px 20px ;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-top: 10%;
}

/*---XX---NAVBAR---XX---*/



/*--- home section---*/

#home h1{
    color:rgb(207,19,115,0.9);
    text-align: center;
    font-size: 2.8rem;   
}

 #title{
    color: rgb(167, 83, 5);
   border: 2px  rgb(189, 36, 115);
   border-style:outset;
   border-radius: 100px 100px 25px 25px;
   border-bottom-style: dotted;
   padding:20px;
   margin: 10px;
   margin-bottom: 30px;
}
 #title span{
color: rgb(255, 155, 4);
}
#home h2{
    margin-top:80ppx;
    color:rgb(207,19,115,0.9) ;
    font-size: 2.5rem;
    text-align: center;
}
 #title:hover{
    font-size: 3rem;  
}
#btn1{
    padding: 6px 20px;
    border:2px rgb(182, 115, 115) solid;
    border-radius: 10px;
    margin: 50px;
    font-size: 1.5rem;
    background-color: rgb(223, 156, 33);
    color: white;
}
#btn1:hover{
    padding:8px 24px ;
}


/*-----
/*---section-heading--*/

.section-heading{
    color: rgb(207,19,115);
    justify-content: centre;
    text-align: center;
    font-size: 2.5rem;
    padding: 20px;
}
/*---xx--- section-heading---xx---*/

/*---about-section---*/
#about-section{
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(white,rgb(241, 188, 215));
}
#about-container{
    display: flex;
    flex-direction: row;
    
}
.leftabout{
    width: 45%;
    font-size: 17px;
    color: rgb(207,19,115);
    text-align: justify;
    line-height: 125%;
    font-weight: bold;
    letter-spacing: 0.5px;
   justify-content: center;
    margin:3% 5%;
}
#mybtn{
    display: none;
}
.readmore-btn{
    display: none;
}
#right-about{
    
    width: 45%;
    margin-left: 6%;
    justify-content: center; margin: 4% 4% 0 0;
}
#first-row , #second-row{
     display: flex;
  flex-direction: row;

}
.gi:hover{
    opacity: 80%;
}
#gridimage1{
    width: 50%;
    height: 200px;
    background-image: url(./assets/imagegrid1.jpg);
    background-size: cover;
    background-position:center;
}
#gridimage2{
   
    width: 50%;
    height: 200px;
    background-image: url(./assets/inagegrid2.jpg);
    background-size: cover;
    background-position:center;
}
#gridimage3{
    width: 50%;
    height: 200px;
    background-image: url(./assets/imagegrid3.jpg);
    background-size: cover;
    background-position:bottom;
}
#gridimage4{
    width: 50%;
    height: 200px;
    background-image: url(./assets/imagegrid4.jpg);
    background-size: cover;
    background-position:center;
}
.food-section{
    width: 100vw;
    height: 100vh;
    margin-top: -3vh;
    background-image: linear-gradient(rgb(241, 188, 215),white);
}
#foodimage{
    margin-bottom: 0px;
}
.food-grid{
    width: 85%;
    margin: 0px auto;
   
}
.grid-row1 , .grid-row2, .grid-row3{
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.foodimage{
    width: 33.3%;
    height: 170px;
    margin: 0px 15px;
    background-size: cover;
    background-position: center;
    opacity: 95%;
    transform: scale(1);
    transition: 0.3s ease-in-out;
 
}
.foodimage:hover{
    opacity:1;
    transform: scale(1.1);
     
   
   
}
 #pic1{
     background-image: url(./assets/1.jpg);
 }
 #pic2{
     background-image: url(./assets/2.jpg);
 }
 #pic3{
     background-image: url(./assets/3.jpg);
 }
 #pic4{
    background-image: url(./assets/4.jpg);
}
 #pic5{
    background-image: url(./assets/5.jpg);
}
 #pic6{
    background-image: url(./assets/6.jpg);
}
 #pic7{
    background-image: url(./assets/7.jpg);
}
 #pic8{
    background-image: url(./assets/8.jpg);
}
 #pic9{
    background-image: url(./assets/9.jpg);
}


.ourshops-section{
    width: 100vw;
    height: 40vh;
    background-image: linear-gradient(white,rgb(241, 188, 215));
    }
.ourshop-container{
    margin: 70px auto;
    text-align: center;
}
.store1{
    display: inline-block;
    color: rgb(207,19,115);
    text-align: center;
    height: 100px;
    width: 30%;
    margin: 0 auto;
    font-size: 15px;
}
.store1 h4{
    font-size: 125%; 
}
.contact-section{
    width: 100vw;
   background-color: rgb(207,19,115);
    color: white;
    display: inline-block; 
}
.contact-title{
    text-transform: uppercase;
    font-size: 50px;
    margin: 15px auto;
    text-align: center;
}

.contact-object{
    display:inline-block;
    height: 30%;
    width: 28%;
    margin: 12vh auto;
}
#details{
    margin-left: 100px;
    line-height: 30px;
    font-size: 20px;
   
}
.socialmedia{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icon{
   margin: 10px;
}
.icon a{
    text-decoration: none;
    color: inherit;
}
#email{
    margin-left: 80px;
    font-size: 20px;
}
#copyright{
   text-align: center;
}  
#form{
    padding: 5vh 8vw;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255,0.8);
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 10%;
}

#details1{
    border: 0px;
    border-bottom: 0.7px solid rgba(0, 0, 0, 0.7) ;
    background: transparent;
    width: 80%  ;
    outline: none;
    padding: 5px 5px;
    margin: auto;
    width: 100%;
    margin: 10px 0px;

}
::placeholder{
    color: rgb(207,19,115,0.95);
    font-size: 1rem;
}
#form h3{
  text-align: center;
  margin: 5rem 5rem 0rem 0rem;
  font-size: 2rem;
 color: rgb(255, 155, 4);
}
#submit{
    margin: 8px;
    padding: 6%;
    color: white;
    outline: violet;
    background-color: rgb(255, 155, 4);
    border: none;
    border-radius: 10px;
    font-weight: bold;
}
#submit:hover{
    color:  rgb(255, 155, 4);
    background-color: white;
    border: 1px solid  rgb(255, 155, 4);
  
}